NEXT_PUBLIC_APP_NAME=BEAT
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SLACK_BOT_TOKEN=
SLACK_DEFAULT_CHANNEL=
CRON_SECRET=
